<div class="ax-flex">
  <ax-button color="dark" text="Simple Button" class="ax-me-2"></ax-button>
  <ax-button  color="dark" text="Button with prefix icon" class="ax-me-2">
    <ax-prefix>
        <ax-content>
          <svg xmlns="http://www.w3.org/2000/svg" class="ax-h-6 ax-w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </ax-content>
    </ax-prefix>
  </ax-button>
  <ax-button  color="dark" text="Button with suffix icon" class="ax-me-2">
    <ax-suffix>
        <ax-content>
          <svg xmlns="http://www.w3.org/2000/svg" class="ax-h-6 ax-w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </ax-content>
    </ax-suffix>
  </ax-button>
  <ax-button  color="dark">
    <ax-prefix>
        <ax-content>
          <svg xmlns="http://www.w3.org/2000/svg" class="ax-h-6 ax-w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
          </svg>
        </ax-content>
    </ax-prefix>
  </ax-button>
</div>