<div class="ax-flex">
  <ax-badge text="Primary" color="primary" class="ax-me-2"></ax-badge>
  <ax-badge text="Seconary" color="secondary" class="ax-me-2"></ax-badge>
  <ax-badge text="Success" color="success" class="ax-me-2"></ax-badge>
  <ax-badge text="Warning" color="warning" class="ax-me-2"></ax-badge>
  <ax-badge text="Danger" color="danger" class="ax-me-2"></ax-badge>
  <ax-badge text="Info" color="info" class="ax-me-2"></ax-badge>
  <ax-badge text="Dark" color="dark" class="ax-me-2"></ax-badge>
  <ax-badge text="Light" color="light"></ax-badge>
</div>