<div class="ax-flex">
  <ax-button class="ax-me-2" color="primary" [disabled]="true" look="default" text="Default"></ax-button>
  <ax-button class="ax-me-2" color="primary" [disabled]="true" look="twotone" text="Twotone"></ax-button>
  <ax-button class="ax-me-2" color="primary" [disabled]="true" look="outline" text="Outline"></ax-button>
  <ax-button class="ax-me-2" color="primary" [disabled]="true" look="link" text="Link"></ax-button>
  <ax-button class="ax-me-2" color="primary" [disabled]="true" look="blank" text="Blank"></ax-button>
</div>