<div class="ax-flex">
    <ng-container>
        <ax-badge text="primary" color="primary"></ax-badge>
        <div class="ax-px-2"></div>
    </ng-container>
    <ng-container>
        <ax-badge text="secondary" color="secondary"></ax-badge>
        <div class="ax-px-2"></div>
    </ng-container>
    <ng-container>
        <ax-badge text="success" color="success"></ax-badge>
        <div class="ax-px-2"></div>
    </ng-container>
    <ng-container>
        <ax-badge text="warning" color="warning"></ax-badge>
        <div class="ax-px-2"></div>
    </ng-container>
    <ng-container>
        <ax-badge text="danger" color="danger"></ax-badge>
        <div class="ax-px-2"></div>
    </ng-container>
    <ng-container>
        <ax-badge text="info" color="info"></ax-badge>
        <div class="ax-px-2"></div>
    </ng-container>
    <ng-container>
        <ax-badge text="light" color="light"></ax-badge>
        <div class="ax-px-2"></div>
    </ng-container>
    <ng-container>
        <ax-badge text="dark" color="dark"></ax-badge>
        <div class="ax-px-2"></div>
    </ng-container>
</div>