<div class="ax-flex">
  <ax-badge text="Simple Badge" color="primary"></ax-badge>
  <ax-badge text="Badge with prefix icon" color="danger" class="ax-ms-2">
    <ax-prefix>
      <ax-icon>
        <ax-content>
          <svg xmlns="http://www.w3.org/2000/svg" class="ax-h-5 ax-w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
              clip-rule="evenodd" />
          </svg>
        </ax-content>
      </ax-icon>
    </ax-prefix>
  </ax-badge>
  <ax-badge text="Badge with suffix icon" color="success" class="ax-ms-2">
    <ax-suffix>
      <ax-icon>
        <ax-content>
          <svg xmlns="http://www.w3.org/2000/svg" class="ax-h-5 ax-w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd" />
          </svg>
        </ax-content>
      </ax-icon>
    </ax-suffix>
  </ax-badge>
  <ax-badge color="info" class="ax-ms-2">
    <ax-suffix>
      <ax-icon>
        <ax-content>
          <svg xmlns="http://www.w3.org/2000/svg" class="ax-h-5 ax-w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
          </svg>
        </ax-content>
      </ax-icon>
    </ax-suffix>
  </ax-badge>
</div>