<ax-alert color="primary"  class="ax-my-4">
    <ax-alert-content>
        A simple <strong>Click</strong> alert with <a href="#">an example link</a>. Give it
        a click if you like.
    </ax-alert-content>
    <ax-alert-suffix>
        <ax-alert-button title="Details"></ax-alert-button>
    </ax-alert-suffix>
</ax-alert>
<ax-alert color="secondary"  class="ax-my-4">
    <ax-alert-content>
        A simple <strong>Click</strong> alert with <a href="#">an example link</a>. Give it
        a click if you like.
    </ax-alert-content>
    <ax-alert-suffix>
        <ax-alert-button title="Details"></ax-alert-button>
    </ax-alert-suffix>
</ax-alert>
<ax-alert color="success"  class="ax-my-4">
    <ax-alert-content>
        A simple <strong>Click</strong> alert with <a href="#">an example link</a>. Give it
        a click if you like.
    </ax-alert-content>
    <ax-alert-suffix>
        <ax-alert-button title="Details"></ax-alert-button>
    </ax-alert-suffix>
</ax-alert>
<ax-alert color="warning"  class="ax-my-4">
    <ax-alert-content>
        A simple <strong>Click</strong> alert with <a href="#">an example link</a>. Give it
        a click if you like.
    </ax-alert-content>
    <ax-alert-suffix>
        <ax-alert-button title="Details"></ax-alert-button>
    </ax-alert-suffix>
</ax-alert>
<ax-alert color="danger"  class="ax-my-4">
    <ax-alert-content>
        A simple <strong>Click</strong> alert with <a href="#">an example link</a>. Give it
        a click if you like.
    </ax-alert-content>
    <ax-alert-suffix>
        <ax-alert-button title="Details"></ax-alert-button>
    </ax-alert-suffix>
</ax-alert>
<ax-alert color="info"  class="ax-my-4">
    <ax-alert-content>
        A simple <strong>Click</strong> alert with <a href="#">an example link</a>. Give it
        a click if you like.
    </ax-alert-content>
    <ax-alert-suffix>
        <ax-alert-button title="Details"></ax-alert-button>
    </ax-alert-suffix>
</ax-alert>
<ax-alert color="light"  class="ax-my-4">
    <ax-alert-content>
        A simple <strong>Click</strong> alert with <a href="#">an example link</a>. Give it
        a click if you like.
    </ax-alert-content>
    <ax-alert-suffix>
        <ax-alert-button title="Details"></ax-alert-button>
    </ax-alert-suffix>
</ax-alert>