<ax-collapse-group [accordion]="true" [nonCollapsedIndex]="1">
  <ax-collapse caption="panel header 1">
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsum suscipit esse velit labore
          voluptate quam numquam vel ab laboriosam adipisci culpa minus quaerat, sapiente reiciendis officiis laborum
          consectetur praesentium?
      </p>
  </ax-collapse>
  <ax-collapse caption="panel header 2">
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsum suscipit esse velit labore
          voluptate quam numquam vel ab laboriosam adipisci culpa minus quaerat, sapiente reiciendis officiis laborum
          consectetur praesentium?
      </p>
  </ax-collapse>
  <ax-collapse caption="panel header 3">
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsum suscipit esse velit labore
          voluptate quam numquam vel ab laboriosam adipisci culpa minus quaerat, sapiente reiciendis officiis laborum
          consectetur praesentium?
      </p>
  </ax-collapse>
</ax-collapse-group>