         <div class="ax-grid">
          <ax-form-field>
              <ax-label>Username</ax-label>
              <ax-text-box placeholder="Enter username" value="john_doe" readonly="true">
                  <ax-prefix>
                      <ax-content class="ax-px-3">
                          <svg xmlns="http://www.w3.org/2000/svg" class="ax-h-6 ax-w-6 ax-stroke-light-400"
                              fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                          </svg>
                      </ax-content>
                  </ax-prefix>
                  <ax-suffix>
                      <ax-badge color="success" text="Available!"></ax-badge>
                  </ax-suffix>
              </ax-text-box>
          </ax-form-field>
          <ax-form-field>
              <ax-label>Token</ax-label>
              <ax-text-box value="PBJdFXMLFITn7jULxHIwIR8GiRhZ3uHIUgKp2mYvTIIQPqqc" readonly="true">
                  <ax-suffix>
                      <ax-button text="Copy" color="info">
                          <ax-prefix>
                              <ax-icon>
                                  <svg xmlns="http://www.w3.org/2000/svg" class="ax-h-5 ax-w-5" fill="none"
                                      viewBox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2" />
                                  </svg>
                              </ax-icon>
                          </ax-prefix>
                      </ax-button>
                  </ax-suffix>
              </ax-text-box>
          </ax-form-field>
      </div>