<div class="ax-my-4"></div>
<ax-label>SM Size</ax-label>
<ax-selection-list  [items]="getOneBook()" valueField="isbn" textField="title" size="sm" direction="horizontal" >
</ax-selection-list>
<br>
<ax-label>MD Size</ax-label>
<ax-selection-list  [items]="getOneBook()" valueField="isbn" textField="title" size="md"  direction="horizontal">
</ax-selection-list>
<br>
<ax-label>LG Size</ax-label>
<ax-selection-list  [items]="getOneBook()" valueField="isbn" textField="title" size="lg" direction="horizontal" >
</ax-selection-list>