<div class="ax-grid ax-grid-cols-1 ax-divide-y-2 ax-divide-dashed ax-p-3">
  <div class="ax-grid ax-grid-cols-8 ax-py-3 ax-px-2 ax-gap-y-4 ax-gap-x-1">
    <ng-container>
      <ax-button
        color="primary"
        text="primary"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="secondary"
        text="secondary"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="success"
        text="success"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="warning"
        text="warning"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="danger"
        text="danger"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="info"
        text="info"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="light"
        text="light"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="dark"
        text="dark"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
    </ng-container>
    <ng-container>
      <ax-button
        color="primary"
        text="primary"
        look="outline"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="secondary"
        text="secondary"
        look="outline"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="success"
        text="success"
        look="outline"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="warning"
        text="warning"
        look="outline"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="danger"
        text="danger"
        look="outline"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="info"
        text="info"
        look="outline"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="light"
        text="light"
        look="outline"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="dark"
        text="dark"
        look="outline"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
    </ng-container>
    <ng-container>
      <ax-button
        color="primary"
        text="primary"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
        look="twotone"
      >
      </ax-button>
      <ax-button
        color="secondary"
        text="secondary"
        look="twotone"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="success"
        text="success"
        look="twotone"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="warning"
        text="warning"
        look="twotone"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="danger"
        text="danger"
        look="twotone"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="info"
        text="info"
        look="twotone"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="light"
        text="light"
        look="twotone"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="dark"
        text="dark"
        look="twotone"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
    </ng-container>
    <ng-container>
      <ax-button
        color="primary"
        text="primary"
        look="blank"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="secondary"
        text="secondary"
        look="blank"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="success"
        text="success"
        look="blank"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="warning"
        text="warning"
        look="blank"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="danger"
        text="danger"
        look="blank"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="info"
        text="info"
        look="blank"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="light"
        text="light"
        look="blank"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="dark"
        text="dark"
        look="blank"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
    </ng-container>
    <ng-container>
      <ax-button
        color="primary"
        text="primary"
        look="link"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="secondary"
        text="secondary"
        look="link"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="success"
        text="success"
        look="link"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="warning"
        text="warning"
        look="link"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="danger"
        text="danger"
        look="link"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="info"
        text="info"
        look="link"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="light"
        text="light"
        look="link"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
      <ax-button
        color="dark"
        text="dark"
        look="link"
        class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
      >
      </ax-button>
    </ng-container>
  </div>
</div>
