<div class="ax-grid ax-grid-cols-7 ax-gap-4">
  <ax-button
    toggleable="true"
    color="primary"
    text="Primary"
    class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
  >
  </ax-button>
  <ax-button
    toggleable="true"
    color="primary"
    text="Outline"
    look="outline"
    class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
  >
  </ax-button>
  <ax-button
    toggleable="true"
    color="primary"
    text="Twotone"
    look="twotone"
    class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
  >
  </ax-button>
  <ax-button
    toggleable="true"
    color="primary"
    text="Blank"
    look="blank"
    class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
  >
  </ax-button>
  <ax-button
    toggleable="true"
    color="primary"
    text="Link"
    look="link"
    class="lg:ax-col-span-1 md:ax-col-span-2 ax-col-span-2"
  >
  </ax-button>
</div>
