<div class="ax-flex ax-items-center">
  <ax-avatar class="ax-w-10 ax-h-10 ax-me-1"></ax-avatar>
  <ax-avatar class="ax-w-10 ax-h-10 ax-me-1" color="secondary"></ax-avatar>
  <ax-avatar class="ax-w-10 ax-h-10 ax-me-1" color="success"></ax-avatar>
  <ax-avatar class="ax-w-10 ax-h-10 ax-me-1" color="warning"></ax-avatar>
  <ax-avatar class="ax-w-10 ax-h-10 ax-me-1" color="danger"></ax-avatar>
  <ax-avatar class="ax-w-10 ax-h-10 ax-me-1" color="info"></ax-avatar>
  <ax-avatar class="ax-w-10 ax-h-10 ax-me-1" color="light"></ax-avatar>
  <ax-avatar class="ax-w-10 ax-h-10" color="dark"></ax-avatar>
</div>