<div class="ax-flex">
  <ax-button class="ax-me-2" color="dark" text="Notifications">
    <ax-prefix>
      <ax-content>
        <svg xmlns="http://www.w3.org/2000/svg" class="ax-h-6 ax-w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
        </svg>
      </ax-content>
    </ax-prefix>
    <ax-suffix>
      <ax-badge text="5" color="light" class="ax-rounded-full ax-sm"></ax-badge>
    </ax-suffix>
  </ax-button>

  <ax-button color="dark" text="Loading button ...">
    <ax-prefix>
      <ax-loading></ax-loading>
    </ax-prefix>
  </ax-button>
</div>