<div class="ax-p-3">
    <ax-tabs class="ax-look-end-line">
        <ax-tab-item text="With Icon">
            <ax-prefix>
                <ax-icon icon="far fa-calendar"></ax-icon>
            </ax-prefix>
        </ax-tab-item>
        <ax-tab-item text="Text Only" [active]="true">
        </ax-tab-item>
        <ax-tab-item text="With Badge">
            <ax-suffix>
                <ax-badge text="12" color="danger"></ax-badge>
            </ax-suffix>
        </ax-tab-item>
    </ax-tabs>
</div>