<ax-alert color="danger">
    <ax-alert-title>
        There were 2 errors with your submission
    </ax-alert-title>
    <ax-alert-content>
        <ul>
            <li>Your password must be at least 8 characters</li>
            <li>Your password must included at least one pro wrestling finishing move</li>
        </ul>
    </ax-alert-content>
    <ax-alert-footer>
        <ax-alert-button title="Show Details"></ax-alert-button>
        <ax-alert-button title="Dismiss"></ax-alert-button>
    </ax-alert-footer>
</ax-alert>