<div class="ax-grid ax-gap-4">
  <div class="ax-col-span-6">
      <ax-form-field>
          <ax-label>Continent</ax-label>
          <ax-select-box [items]="_provideContinentData" [(value)]="_selectedContinent"
              placeholder="Select a continent" (onValueChanged)="cities.refresh()">
          </ax-select-box>
      </ax-form-field>
  </div>
  <div class="ax-col-span-6">
      <ax-form-field>
          <ax-label>Country</ax-label>
          <ax-select-box #cities [items]="_provideCountryData" placeholder="Select a country">
          </ax-select-box>
      </ax-form-field>
  </div>
</div>