    <ax-button text="Success Toast" class="ax-success-default" (onClick)="_handleOpenClick('success')">
    </ax-button>
    <div class="ax-p-4"></div>
    <ax-button text="Warning Toast" class="ax-warning-default" (onClick)="_handleOpenClick('warning')">
    </ax-button>
    <div class="ax-p-4"></div>
    <ax-button text="Danger Toast" class="ax-danger-default" (onClick)="_handleOpenClick('danger')">
    </ax-button>
    <div class="ax-p-4"></div>
    <ax-button text="Info Toast" class="ax-info-default" (onClick)="_handleOpenClick('info')">
    </ax-button>