<div class="ax-grid ax-grid-cols-12 ax-gap-2">
    <div class="ax-col-span-12">
        <ax-form-field>
            <ax-label>
                Username
            </ax-label>
            <ax-text-box></ax-text-box>
        </ax-form-field>
    </div>
    <div class="ax-col-span-12">
        <ax-form-field>
            <ax-label>
                Password
            </ax-label>
            <ax-password-box></ax-password-box>
        </ax-form-field>
    </div>
    <div class="ax-col-span-12">
        <ax-form-field>
            <ax-check-box><ax-label>Remember me</ax-label></ax-check-box>
        </ax-form-field>
    </div>
    <div class="ax-col-span-12">
        <ax-button text="Submit"></ax-button>
    </div>
</div>