<div class="ax-flex">
    <ax-button text="Primary Alert" color="primary" class="ax-me-2" (onClick)="_handleOpenClick('primary')">
    </ax-button>
    <ax-button text="Success Alert" color="success" class="ax-me-2"  (onClick)="_handleOpenClick('success')">
    </ax-button>
    <ax-button text="Warning Alert" color="warning" class="ax-me-2"  (onClick)="_handleOpenClick('warning')">
    </ax-button>
    <ax-button text="Danger Alert" color="danger" class="ax-me-2"  (onClick)="_handleOpenClick('danger')">
    </ax-button>
    <ax-button text="Info Alert" color="info" (onClick)="_handleOpenClick('info')">
    </ax-button>
</div>