<div class="ax-flex">
  <ax-switch class="ax-primary ax-me-2" value="true"></ax-switch>
  <ax-switch class="ax-secondary ax-me-2" value="true"></ax-switch>
  <ax-switch class="ax-success ax-me-2" value="true"></ax-switch>
  <ax-switch class="ax-warning ax-me-2" value="true"></ax-switch>
  <ax-switch class="ax-danger ax-me-2" value="true"></ax-switch>
  <ax-switch class="ax-info ax-me-2" value="true"></ax-switch>
  <ax-switch class="ax-dark ax-me-2" value="true"></ax-switch>
  <ax-switch class="ax-light ax-me-2" value="true"></ax-switch>
</div>