<ax-collapse caption="panel header 1">
    <ng-template #header let-isCollapsed>
       <div class="ax-p-4 ax-text-center">
        🎉 this is a custom header template 😉
       </div>
    </ng-template>
    
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsum suscipit esse velit labore
        voluptate quam numquam vel ab laboriosam adipisci culpa minus quaerat, sapiente reiciendis officiis laborum
        consectetur praesentium?
    </p>
</ax-collapse>