<div class="ax-m-2"></div>
<ax-progress-bar color="secondary" [value]="val" ></ax-progress-bar>
<div class="ax-m-2"></div>
<ax-progress-bar color="success" [value]="val" ></ax-progress-bar>
<div class="ax-m-2"></div>
<ax-progress-bar color="warning" [value]="val" ></ax-progress-bar>
<div class="ax-m-2"></div>
<ax-progress-bar color="danger"[value]="val" ></ax-progress-bar>
<div class="ax-m-2"></div>
<ax-progress-bar color="info" [value]="val" ></ax-progress-bar>
<div class="ax-m-2"></div>
<ax-progress-bar color="light" [value]="val" ></ax-progress-bar>
<div class="ax-m-2"></div>
<ax-progress-bar color="dark" [value]="val" ></ax-progress-bar>